### Data Manipulation In Python Using Pandas üêºüêºüêº
- Learn how to install the pandas library
- Learn the core data structures and their differences 
- Learn how to source the web for data sets
- Learn how to read data sets using pandas
- Learn functions in pandas for getting quick stats 
- Learn how to access the rows/columns of a data set
- Learn how to do graphs in pandas
- Learn how to emulate the Excel pivot table in pandas

### How to Install Pandas

- pip install pandas
- conda install pandas

## The Two Primary Data Structures in Pandas
- Series: A 1D array like structure with homogeneous data. 
- DataFrame: A 2D array with heterogeneous data

# Series Data Structure 
-  s = pd.Series(data, index=index)
- Data can be many different things
  - A python dict
  - A ndarray
  - A list

## Series Example # 1

In [12]:
import numpy as np
import pandas as pd
s = pd.Series(np.random.rand(5), index=['a', 'b', 'c', 'd', 'e'])
s

a    0.970185
b    0.326075
c    0.634193
d    0.462437
e    0.674702
dtype: float64

## Series Example # 2

In [16]:
pd.Series([1, 2, 3,], index=['a', 'b', 'c'])

a    1
b    2
c    3
dtype: int64

## Series Example # 3

In [19]:
fruits = {'a': 'apple', 'c': 'coconut', 'g': 'guava', 'p': 'pineapple'}
series = pd.Series(fruits)
series

a        apple
c      coconut
g        guava
p    pineapple
dtype: object

# Now It's Time to Get to The DataFrame

In [26]:
from IPython.display import Image
Image(filename="giphy.gif")

## The Class Details for a DataFrame
- class pandas.DataFrame(data=None, index: Optional[Collection] = None, columns: Optional[Collection] = None, dtype: Union[str, numpy.dtype, ExtensionDtype, None] = None, copy: bool = False
- data can be ndarray, Iterable, dict, or DataFrame
- Index is optional and will result to Rangeindex
- columns: labels to use for resulting frame
- dtype: A single data type
- copy: copy data from inputs

## DataFrame Example # 1

In [32]:
# building a dataframe from a dictionary
df = pd.DataFrame({'evens': [2, 4, 6, 8], 'odds':[1, 3, 5, 7]})
df

   evens  odds
0      2     1
1      4     3
2      6     5
3      8     7

In [ ]:
Automatically Building Our DataFrame From an Online Dataset

Data is everywhere! There

Kaggle
Google

In [ ]:
Good tutorial on dataframe manipulation: http://queirozf.com/entries/pandas-dataframe-by-example

In [ ]:
List of dataframe functions: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html